/* Customize Head Start */
.customize-head{
    padding: 2rem 5%;
}
.customize-head h5{
    text-align: center;
    font-size: calc(0.7rem + 1vw);
}

/* For 110% in 15 inch screens */
@media screen and (min-width: 1230px) and (max-width: 1399px){
    .customize-head{
        padding: 2.2rem 5%;
    }
    .customize-head h5{
        font-size: calc(0.8rem + 1vw);
    }
}

/* For 100% in 15 inch screens */
@media screen and (min-width: 1400px) {
    .customize-head{
        padding: 2.5rem 5%;
    }
    .customize-head h5{
        font-size: calc(0.9rem + 1vw);
    }
}
/* Customize Head End */

/* Filter Head Start */
.filter-head{
    padding: 0 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.filter-head h4{
    font-size: calc(1rem + 1vw);
}
.filter-head button{
    font-size: calc(0.5rem + 0.5vw);
    padding: 0.4rem 1rem;
    border: 1.5px solid #000;
    background-color: #fff;
    color: #000;
}
.filter-head button:last-child{
    background-color: #000;
    color: #fff;
    margin-left: 0.5rem;
}

/* For 110% in 15 inch screens */
@media screen and (min-width: 1230px) and (max-width: 1399px){
    .filter-head h4{
        font-size: calc(1.1rem + 1vw);
    }
    .filter-head button{
        font-size: calc(0.6rem + 0.5vw);
        padding: 0.45rem 1.3rem;
    }
    .filter-head button:last-child{
        margin-left: 0.7rem;
    }
}

/* For 100% in 15 inch screens */
@media screen and (min-width: 1400px) {
    .filter-head h4{
        font-size: calc(1.2rem + 1vw);
    }
    .filter-head button{
        font-size: calc(0.65rem + 0.5vw);
        padding: 0.5rem 1.3rem;
    }
    .filter-head button:last-child{
        margin-left: 0.8rem;
    }
}
/* Filter Head End */

/* Filter Body Start */
.filter-body{
    margin: 1rem 5%;
    display: flex;
    border-top: 4px solid rgb(236, 236, 236);
}
.filter-body-left,
.filter-body-right{
    width: 50%;
}
.filter-body-left{
    border-right: 2px solid rgb(236, 236, 236);
}
.filter-body .filter-row{
    padding: 0.7rem 0.8rem 0.5rem 0.8rem;
    border-bottom: 4px solid rgb(236, 236, 236);
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    background-color: #fff;
    height: 100px;
}
.filter-body .filter-row.active{
    height: auto;
}
.filter-body .filter-row .row-left{
    width: 10%;
    margin-right: 1rem;
}
.filter-body .filter-row .row-left img{
    width: 100%;
}
.filter-body .filter-row .row-left p{
    margin: 0;
    font-size: calc(0.5rem + 0.5vw);
    text-align: center;
    margin-top: 0.2rem;
}
.filter-body .filter-row .row-center{
    width: 84%;
    padding-top: 0.2rem;
}
.filter-body .filter-row .row-center .row-top{
    display: flex;
    gap: 0.7rem;
    flex-wrap: nowrap;
    margin-bottom: 0.7rem;
}
.filter-body .filter-row .row-center .row-bottom{
    display: none;
    gap: 0.7rem;
    flex-wrap: wrap;
    transition: all 0.2s ease-in-out;
}
.filter-body .filter-row .row-center .row-bottom.show{
    display: flex;
}
.filter-body .filter-row .row-center .input-box{
    width: 50px;
    height: 50px;
    background-color: #fff; 
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.433) 1.95px 1.95px 2.6px;
    margin-bottom: 1rem;
}
.filter-body .filter-row .row-center .input-box label{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.filter-body .filter-row .row-center .input-box label p{
    font-size: calc(0.25rem + 0.5vw);
    margin: 0;
    margin-top: 0.3rem;
    text-align: center;
    white-space: nowrap;
}
/* Hide actual checkbox */
.filter-body .filter-row .row-center .input-box .hidden-checkbox{
    display: none;
}
/* Selected Effect */
.filter-body .filter-row .row-center .input-box:has(.hidden-checkbox:checked) {
    background-color: #ffa8a8;
}
.filter-body .filter-row .row-center .input-box img{
    width: 100%;
    padding: 0.5rem;
}
.filter-body #filter-row-1 .input-box img{
    filter: grayscale(100%);
}

/* Toggle Row Open Close */
/* .filter-body .filter-row.open{
    position: absolute;
    width: 45%;
} */

.filter-body .filter-row .row-right{
    width: 6%;
    text-align: center;
}
.filter-body .filter-row .row-right i{
    font-size: calc(1.2rem + 0.5vw);
    cursor: pointer;
    padding: 0.3rem 0.6rem;
    margin-left: 0.2rem;
    margin-top: 0.7rem;
}

#filter-row-2 .row-center{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-top: -1rem;
}
#filter-row-2 .row-center .carat-min,
#filter-row-2 .row-center .carat-max{
    width: 42.5%;
}
#filter-row-2 .row-center .carat-to{
    width: 15%;
}
#filter-row-2 .carat-min-top span,
#filter-row-2 .carat-max-top span{
    color: #000;
    font-size: calc(0.55rem + 0.5vw);
    margin-left: -1.2rem;
}   
#filter-row-2 .carat-min-bottom,
#filter-row-2 .carat-max-bottom{
    display: flex;
    align-items: end;
    gap: 5px;
}   
#filter-row-2 .carat-min-bottom input,
#filter-row-2 .carat-max-bottom input{
    width: 85%;
}   
#filter-row-2 .carat-min-bottom span,
#filter-row-2 .carat-max-bottom span{
    color: #000;
    font-size: calc(1rem + 0.5vw);
    font-weight: 600;
}   
#filter-row-2 .row-center input{
    text-align: center;
    border: none;
    border-bottom: 2px solid #000;
    outline: none;
    padding-top: 0.8rem;
    font-weight: 600;
    font-size: calc(0.8rem + 0.5vw);
}   
#filter-row-2 .row-center input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}   
  
#filter-row-3 .input-box,
#filter-row-4 .input-box,
#filter-row-7 .input-box{
    overflow: hidden;
    margin-bottom: 0.5rem;
}  
#filter-row-3 .input-box label,
#filter-row-4 .input-box label,
#filter-row-7 .input-box label{
    font-size: calc(0.55rem + 0.5vw);
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}   

#filter-row-5 .input-box img{
    width: 80%;
}
#filter-row-5 .rectangle-input-box{
    width: 90px;
    height: 40px;
    border-radius: 0;
    box-shadow: rgba(0, 0, 0, 0.701) 1.95px 1.95px 2.6px;
    margin-bottom: 0.2rem;
}
.rectangle-input-box label{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(0.45rem + 0.5vw);
}

#filter-row-6 .row-center{
    display: flex;
    flex-direction: column;
}
#filter-row-6 .row-center .row-top{
    display: flex;
    justify-content: space-between;
    margin-top: -0.3rem;
}
#filter-row-6 .row-center .row-bottom{
    justify-content: space-between;
}
#filter-row-6 .row-center .cut-box{
    width: 31%;
    text-align: center;
}
#filter-row-6 .row-center .row-top .cut-box .cut-box-top{
    margin-bottom: 0.3rem;
}
#filter-row-6 .row-center .row-top .cut-box .cut-box-top span{
    font-size: calc(0.45rem + 0.5vw);
}
#filter-row-6 .rectangle-input-box{
    width: 100%;
    height: 35px;
    border-radius: 0;
    box-shadow: rgba(0, 0, 0, 0.701) 1.95px 1.95px 2.6px;
    margin-bottom: 0.2rem;
}

#filter-row-7{
    padding: 0.7rem 0.8rem 0.35rem 0.8rem;
}
/* Filter Body End */

.submit-btn{
    display: flex;
    justify-content: center;
}
.submit-btn button{
    margin-top: 0.5rem;
    padding: 0.4rem 2rem;
    font-size: calc(0.6rem + 0.5vw);
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 20px;
}


/* For 110% in 15 inch screens */
@media screen and (min-width: 1230px) and (max-width: 1399px){
    .filter-body{
        margin: 1.2rem 5%;
        border-top: 4.5px solid rgb(236, 236, 236);
    }
    .filter-body-left{
        border-right: 2.5px solid rgb(236, 236, 236);
    }
    .filter-body .filter-row{
        padding: 1rem 0.8rem 0.5rem 0.8rem;
        border-bottom: 4.5px solid rgb(236, 236, 236);
        height: 115px;
    }
    .filter-body .filter-row .row-left p{
        font-size: calc(0.6rem + 0.5vw);
        margin-top: 0.25rem;
    }
    .filter-body .filter-row .row-center .row-top{
        gap: 1rem;
        margin-bottom: 0.7rem;
    }
    .filter-body .filter-row .row-center .row-bottom{
        gap: 1rem;
    }
    .filter-body .filter-row .row-center .input-box{
        width: 55px;
        height: 55px;
        margin-bottom: 1.4rem;
    }
    .filter-body .filter-row .row-center .input-box label p{
        font-size: calc(0.35rem + 0.5vw);
        margin-top: 0.38rem;
    }
    .filter-body .filter-row .row-right i{
        font-size: calc(1.4rem + 0.5vw);
        margin-left: 0.3rem;
        margin-top: 0.9rem;
    }

    #filter-row-2 .carat-min-top span,
    #filter-row-2 .carat-max-top span{
        font-size: calc(0.6rem + 0.5vw);
    }   
    #filter-row-2 .carat-min-bottom,
    #filter-row-2 .carat-max-bottom{
        gap: 7px;
    }      
    #filter-row-2 .carat-min-bottom span,
    #filter-row-2 .carat-max-bottom span{
        font-size: calc(1.2rem + 0.5vw);
    }   
    #filter-row-2 .row-center input{
        border-bottom: 2.5px solid #000;
        padding-top: 0.8rem;
        font-size: calc(0.9rem + 0.5vw);
    }  

    #filter-row-3 .input-box label,
    #filter-row-4 .input-box label,
    #filter-row-7 .input-box label{
        font-size: calc(0.6rem + 0.5vw);
    }  

    #filter-row-5 .rectangle-input-box{
        width: 100px;
        height: 40px;
    }
    .rectangle-input-box label{
        font-size: calc(0.5rem + 0.5vw);
    }

    #filter-row-6 .row-center .row-top{
        margin-top: -0.2rem;
    }
    #filter-row-6 .row-center .row-top .cut-box .cut-box-top{
        margin-bottom: 0.6rem;
    }
    #filter-row-6 .row-center .row-top .cut-box .cut-box-top span{
        font-size: calc(0.5rem + 0.5vw);
    }
    #filter-row-6 .rectangle-input-box{
        height: 40px;
    }

    #filter-row-7{
        padding: 1rem 0.8rem 0.4rem 0.8rem;
    }

    .submit-btn button{
        margin-top: 0.7rem;
        padding: 0.45rem 2.3rem;
        font-size: calc(0.7rem + 0.5vw);
        border-radius: 28px;
    }
}

/* For 100% in 15 inch screens */
@media screen and (min-width: 1400px) {
    .filter-body{
        margin: 1.3rem 5%;
        border-top: 5px solid rgb(236, 236, 236);
    }
    .filter-body-left{
        border-right: 3px solid rgb(236, 236, 236);
    }
    .filter-body .filter-row{
        padding: 1rem 0.8rem 0.5rem 0.8rem;
        border-bottom: 5px solid rgb(236, 236, 236);
        height: 127px;
    }
    .filter-body .filter-row .row-left p{
        font-size: calc(0.65rem + 0.5vw);
        margin-top: 0.3rem;
    }
    .filter-body .filter-row .row-center .row-top{
        gap: 1.1rem;
        margin-bottom: 0.7rem;
    }
    .filter-body .filter-row .row-center .row-bottom{
        gap: 1.1rem;
    }
    .filter-body .filter-row .row-center .input-box{
        width: 60.5px;
        height: 60.5px;
        margin-bottom: 1.5rem;
    }
    .filter-body .filter-row .row-center .input-box label p{
        font-size: calc(0.38rem + 0.5vw);
        margin-top: 0.38rem;
    }
    .filter-body .filter-row .row-right i{
        font-size: calc(1.5rem + 0.5vw);
        margin-left: 0.3rem;
        margin-top: 0.9rem;
    }

    #filter-row-2 .carat-min-top span,
    #filter-row-2 .carat-max-top span{
        font-size: calc(0.65rem + 0.5vw);
    }   
    #filter-row-2 .carat-min-bottom,
    #filter-row-2 .carat-max-bottom{
        gap: 7px;
    }      
    #filter-row-2 .carat-min-bottom span,
    #filter-row-2 .carat-max-bottom span{
        font-size: calc(1.3rem + 0.5vw);
    }   
    #filter-row-2 .row-center input{
        border-bottom: 2.5px solid #000;
        padding-top: 0.8rem;
        font-size: calc(1rem + 0.5vw);
    }  

    #filter-row-3 .input-box label,
    #filter-row-4 .input-box label,
    #filter-row-7 .input-box label{
        font-size: calc(0.65rem + 0.5vw);
    }  

    #filter-row-5 .rectangle-input-box{
        width: 120px;
        height: 40px;
    }
    .rectangle-input-box label{
        font-size: calc(0.55rem + 0.5vw);
    }

    #filter-row-6 .row-center .row-top{
        margin-top: -0.2rem;
    }
    #filter-row-6 .row-center .row-top .cut-box .cut-box-top{
        margin-bottom: 0.8rem;
    }
    #filter-row-6 .row-center .row-top .cut-box .cut-box-top span{
        font-size: calc(0.55rem + 0.5vw);
    }
    #filter-row-6 .rectangle-input-box{
        height: 45px;
    }

    #filter-row-7{
        padding: 1rem 0.8rem 0.4rem 0.8rem;
    }

    .submit-btn button{
        margin-top: 0.8rem;
        padding: 0.48rem 2.3rem;
        font-size: calc(0.75rem + 0.5vw);
        border-radius: 28px;
    }
}