*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: unset !important; /* Disable default smooth scrolling in Bootstrap */
}
@font-face {
    font-family: 'MrEaves';
    src: url('../fonts/FontsFree-Net-MrEavesXLModOT-Reg.ttf') format('truetype');
}
body {
    font-family: 'MrEaves', sans-serif;
}

/*  Footer Start */
footer{
    padding: 12.2rem 5% 1rem 5%;
    background-color: #f9f9f9;
    position: relative;
}
footer .floating-card{
    background-color: #000;
    width: 28%;
    border-radius: 10px;
    padding: 1.2rem 1.2rem 0.6rem 1.2rem;
    position: absolute;
    top: -7rem;
    box-shadow: rgba(0, 0, 0, 0.234) 4px 4px 2.6px;
}
footer .floating-card .footer-logo{
    background-color: #fff;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(255, 255, 255, 0.678) 0px 2px 8px 0px;
}
footer .floating-card .footer-logo img{
    width: 80%;
}
footer .floating-card .footer-content{
    margin-top: 1.8rem;
    color: #fff;
}
footer .floating-card .content-row{
    display: flex;
    align-items: flex-start;
    margin-bottom: 0.8rem;
}
footer .floating-card .content-row .content-row-left{
    width: 10%;
}
footer .floating-card .content-row .content-row-left i{
    font-size: calc(0.65rem + 0.5vw);
    margin-top: 5px;
}
footer .floating-card .content-row .content-row-right{
    width: 90%;
}
footer .floating-card .content-row .content-row-right p{
    font-size: calc(0.65rem + 0.5vw);
    margin: 0;
    font-weight: 600;
}
footer .floating-card .content-row .content-row-right a{
    text-decoration: none;
    color: #fff;
}
footer .footer-desc p{
    font-size: calc(0.7rem + 0.5vw);
    margin: 0;
}
footer .copyright{
    border-top: 2px solid #bababa;
    margin-top: 1.5rem;
    display: flex;
    justify-content: space-between;
    padding-top: 0.7rem;
}
footer .copyright p{
    font-size: calc(0.5rem + 0.5vw);
    margin: 0;
}
footer .copyright .social-icons{
    display: flex;
    gap: 1rem;
}
footer .copyright .box{
    background-color: #000;
    width: 30px;
    height: 30px;
    transition: all 0.1s ease;
}
footer .copyright .box:hover{
    background-color: #f6baba;
}
footer .copyright a{
   color: #fff;
   width: 100%;
   height: 100%;
   display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
footer .copyright i{
   font-size: calc(0.6rem + 0.5vw);
}

/* For 110% in 15 inch screens */
@media screen and (min-width: 1230px) and (max-width: 1399px){
    footer{
        padding: 13.8rem 5% 1rem 5%;
    }
    footer .floating-card .content-row .content-row-left i{
        font-size: calc(0.7rem + 0.5vw);
        margin-top: 7px;
    }
    footer .floating-card .content-row .content-row-right p{
        font-size: calc(0.7rem + 0.5vw);
    }
    footer .footer-desc p{
        font-size: calc(0.75rem + 0.5vw);
    }
    footer .copyright{
        padding-top: 0.9rem;
    }
    footer .copyright p{
        font-size: calc(0.55rem + 0.5vw);
    }
    footer .copyright .box{
        width: 33px;
        height: 33px;
    }
    footer .copyright i{
       font-size: calc(0.65rem + 0.5vw);
    }
}

/* For 100% in 15 inch screens */
@media screen and (min-width: 1400px) {
    footer{
        padding: 15rem 5% 1rem 5%;
    }
    footer .floating-card .content-row .content-row-left i{
        font-size: calc(0.8rem + 0.5vw);
        margin-top: 7px;
    }
    footer .floating-card .content-row .content-row-right p{
        font-size: calc(0.8rem + 0.5vw);
    }
    footer .footer-desc p{
        font-size: calc(0.8rem + 0.5vw);
    }
    footer .copyright{
        padding-top: 1rem;
    }
    footer .copyright p{
        font-size: calc(0.6rem + 0.5vw);
    }
    footer .copyright .box{
        width: 35px;
        height: 35px;
    }
    footer .copyright i{
       font-size: calc(0.68rem + 0.5vw);
    }
}
/*  Footer End */
