*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: unset !important; /* Disable default smooth scrolling in Bootstrap */
}
@font-face {
    font-family: 'MrEaves';
    src: url('../fonts/FontsFree-Net-MrEavesXLModOT-Reg.ttf') format('truetype');
}
body {
    font-family: 'MrEaves', sans-serif;
}

/* Header Slider Start */
.header-slider{
    background-color: #fcecec;
    padding: 0.2rem 0 0 0;
    overflow: hidden;
}
.header-slider .swiper-slide{
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}
.header-slider .swiper-slide p{
    margin: 0;
    font-size: calc(0.5rem + 0.5vw);
    font-weight: 500;
    color: #000;
}
.header-slider .swiper-slide a{
    text-decoration: none;
    color: #000;
}
.header-slider .swiper-slide a:hover{
    text-decoration: underline;
}

/* For 110% in 15 inch screens */
@media screen and (min-width: 1230px) and (max-width: 1399px){
    .header-slider{
        padding: 0.3rem 0 0.15rem 0;
    }
    .header-slider .swiper-slide p{
        font-size: calc(0.52rem + 0.5vw);
    }
}

/* For 100% in 15 inch screens */
@media screen and (min-width: 1400px) {
    .header-slider{
        padding: 0.35rem 0 0.25rem 0;
    }
    .header-slider .swiper-slide p{
        font-size: calc(0.55rem + 0.5vw);
    }
}

/* For small screens */
@media screen and (max-width: 768px) {
    .header-slider{
        padding: 0.3rem 0 0.2rem 0;
    }
    .header-slider .swiper-slide{
        gap: 0.5rem;
    }
    .header-slider .swiper-slide p{
        font-size: calc(0.45rem + 0.5vw);
    }
    .header-slider .swiper-slide span{
        font-size: calc(0.45rem + 0.5vw);
    }
}
/* Header Slider End */




/* Navbar Start */
nav{
    background-color: rgb(248, 248, 248);
    padding: 1rem 0 !important;
}
.navbar-brand img {
    width: 160px;
}
.nav-link {
    margin: 0 0.5rem;
    font-size: calc(0.6rem + 0.5vw);
    text-transform: uppercase;
    font-weight: 600;
    color: #000;
}
.nav-link:hover,
.nav-link.active {
    color: #e91f29 !important;
}
nav .dropdown-menu {
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
nav .dropdown-menu li a {
    color: #282828;
    padding-bottom: 0;
}
nav .dropdown-menu li p {
    font-size: calc(0.6rem + 0.5vw);
    margin: 0;
    font-weight: 500;
}
nav .dropdown-menu li a:hover{
    background-color: #fff;
    color: #e91f29;
}
nav .dropdown-item{
    display: flex;
}
nav .dropdown-item img{
    width: 17px;
    margin-right: 0.6rem;
}
nav #dropdown-menu-1 .dropdown-item img{
    width: 25px;
}
nav #dropdown-menu-2 .dropdown-item img{
    width: 22px;
}

.navbar-toggler{
    border: none;
}
.navbar-toggler:focus,
.navbar-toggler:active {
    outline: none;
    box-shadow: none;
}

.right-aligned-menu {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.right-aligned-menu i {
    font-size: calc(0.9rem + 0.5vw);
    color: #000;
    transition: color 0.1s ease;
}
.right-aligned-menu i:hover {
    color: #e91f29;
}
.right-aligned-menu button {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 0.3rem 1rem;
    font-weight: 550;
    text-transform: uppercase;
    border-radius: 1px;
    font-size: calc(0.7rem + 0.5vw);
    transition: background-color 0.1s ease;
}
.right-aligned-menu button:hover {
    background-color: #e91f29;
}

/* Dropdown menu hover effect for screens wider than 768px */
@media (min-width: 768px) {
    .navbar-brand {
        margin-right: -1rem;
    }
    .nav-item.dropdown:hover .dropdown-menu {
        display: block;
        opacity: 1;
        visibility: visible;
    }
    nav .dropdown-menu {
        display: none;
        opacity: 0;
        visibility: hidden;
    }
}

@media (max-width: 768px) {
    nav{
        padding: 0.4rem 0 !important;
    }
    .navbar-brand img {
        width: 130px;
    }
    .nav-link {
        margin: 0.2rem 0 0 0.5rem;
        padding-top: 0.2rem;
        font-size: calc(0.9rem + 0.2vw);
    }
    .navbar-nav{
        margin-top: 0.6rem;
    }
    nav .dropdown-menu li p {
        font-size: calc(0.85rem + 0.5vw);
    }

    .right-aligned-menu {
        justify-content: center;
        margin-top: 0.5rem;
        padding: 0.9rem 0 0.4rem 0;
        border-top: 1px solid #ddd;
    }
    .right-aligned-menu {
        gap: 1.3rem;
    }
    .right-aligned-menu i {
        font-size: calc(1.1rem + 0.5vw);
    }
    .right-aligned-menu button {
        font-size: calc(0.85rem + 0.5vw);
    }
}

/* For 110% in 15 inch screens */
@media screen and (min-width: 1260px) and (max-width: 1399px){
    nav{
        padding: 1.1rem 0 !important;
    }
    .navbar-brand img {
        width: 180px;
        margin-left: -2.5rem;
    }
    .nav-link {
        font-size: calc(0.67rem + 0.5vw);
    }
    nav .dropdown-menu li p {
        font-size: calc(0.65rem + 0.5vw);
    }

    .right-aligned-menu {
        gap: 1.3rem;
    }
    .right-aligned-menu i {
        font-size: calc(1rem + 0.5vw);
    }
    .right-aligned-menu button {
        padding: 0.35rem 1rem;
        font-size: calc(0.7rem + 0.5vw);
        margin-left: 0.3rem;
        margin-right: -2rem;
    }
}

/* For 100% in 15 inch screens */
@media screen and (min-width: 1400px) {
    nav{
        padding: 0.8rem 0 !important;
    }
    .navbar-brand img {
        width: 200px;
        margin-left: -2rem;
    }
    .nav-link {
        font-size: calc(0.75rem + 0.5vw);
    }
    nav .dropdown-menu li p {
        font-size: calc(0.73rem + 0.5vw);
    }

    .right-aligned-menu {
        gap: 1.6rem;
    }
    .right-aligned-menu i {
        font-size: calc(1.2rem + 0.5vw);
    }
    .right-aligned-menu button {
        padding: 0.4rem 1rem;
        font-size: calc(0.75rem + 0.5vw);
        margin-left: 0.5rem;
        margin-right: -1rem;
    }
}
/* Navbar End */