*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: unset !important; /* Disable default smooth scrolling in Bootstrap */
}
@font-face {
    font-family: 'MrEaves';
    src: url('../fonts/FontsFree-Net-MrEavesXLModOT-Reg.ttf') format('truetype');
}
body {
    font-family: 'MrEaves', sans-serif;
}

/* Header Slider Start */
.header-slider{
    background-color: #fcecec;
    padding: 0.2rem 0 0 0;
    overflow: hidden;
}
.header-slider .swiper-slide{
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}
.header-slider .swiper-slide p{
    margin: 0;
    font-size: calc(0.5rem + 0.5vw);
    font-weight: 500;
    color: #000;
}
.header-slider .swiper-slide a{
    text-decoration: none;
    color: #000;
}
.header-slider .swiper-slide a:hover{
    text-decoration: underline;
}

/* For 110% in 15 inch screens */
@media screen and (min-width: 1230px) and (max-width: 1399px){
    .header-slider{
        padding: 0.2rem 0 0.07rem 0;
    }
}

/* For 100% in 15 inch screens */
@media screen and (min-width: 1400px) {
    .header-slider{
        padding: 0.2rem 0 0.13rem 0;
    }
}
/* Header Slider End */

/* Header Start */
header{
    display: flex;
    justify-content: space-between;
    padding: 1rem 10%;
}
.header-contact{
    width: 20%;
    display: flex;
    justify-content: space-between;
}
.header-logo{
    width: 55%;
    display: flex;
    justify-content: center;
}
.header-options{
    width: 25%;
    display: flex;
    justify-content: space-between;
}
.header-contact p{
    margin: 0;
    font-size: calc(0.5rem + 0.5vw);
    font-weight: bold;
}
.header-contact a{
    text-decoration: none;
    color: #23262b;
}
/* .header-contact p:nth-child(1) i{
    font-size: calc(0.4rem + 0.5vw);
}
.header-contact p i{
    margin-right: 0.3rem;
} */
.header-contact .left img{
    width: 11px;
}
.header-contact .left p:nth-child(1) img{
    margin-right: 3px;
    margin-left: 4px;
}
.header-contact .left p:nth-child(2) img{
    width: 18px;
}
.header-contact .right i{
    font-size: calc(1rem + 0.5vw);
}
/* .header-contact .right a:nth-child(1) i{
    margin-right: 0.8rem;
} */
.header-contact .right a:nth-child(1) img{
    margin-right: 0.8rem;
}
.header-logo img{
    width: 120px;
}
.header-options i{
    font-size: calc(1rem + 0.5vw);
}
header i{
    transition: color 0.1s ease;
    cursor: pointer;
}
header i:hover{
    color: #f5bbba;
}
.currency-selector{
    width: 110px;
    position: relative;
    display: inline-block;
    font-weight: 600;
}
.currency-selector img {
    width: 20px;
    margin-right: 8px;
    /* filter: grayscale(100%); */
}
.currency-selector button span{
    margin-left: 0.25rem;
    font-size: calc(0.3rem + 0.5vw);
}
.currency-selector button {
    border: none;
    background: white;
    padding: 0 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: calc(0.6rem + 0.5vw);
    width: 100px;
}
.currency-selector .dropdown {
    display: none;
    position: absolute;
    background: white;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    margin-top: 5px;
    z-index: 1;
    width: 100px;
    font-size: calc(0.6rem + 0.5vw);
}
.currency-selector .dropdown div {
    padding: 8px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.currency-selector .dropdown div:hover {
    background: #f0f0f0;
}
/* Header End */

/* Web Navbar Start */
.web-nav .nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5%;
}
.web-nav .nav-left{
    width: 80%;
}
.web-nav .nav-left ul{
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.web-nav .nav-left ul li{
    color: #000;
    font-size: calc(0.65rem + 0.5vw);
    /* font-weight: 600; */
    transition: color 0.1s ease;
}
.web-nav .nav-left ul li:hover{
    color: #f5bbba;
}
.web-nav .nav-left ul a{
    color: #000;
    text-decoration: none;
    transition: color 0.1s ease;
}
.web-nav .nav-left ul a.active{
    color: red;
}
.web-nav .nav-left ul a:hover{
    color: #f5bbba;
}
.web-nav .nav-right{
    width: 20%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.web-nav .nav-right button{
    font-size: calc(0.6rem + 0.5vw);
    border: none;
    background-color: #000;
    color: #fff;
    padding: 0.2rem 0.7rem;
    transition: background-color 0.1s ease;
}
.web-nav .nav-right button:hover{
    background-color: #f5bbba;
}

.nav-content{
    width: 100%;
    height: auto;
    /* min-height: 50vh; */
    border-bottom: 1.5px solid #f5bbba;
    padding: 0.5rem 5%;
    overflow: hidden;
    display: none;
    position: absolute;
    background-color: #fff;
    z-index: 100;
}
.nav-content.active{
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
}
.nav-content .img-box img{
    width: 230px;
}
.nav-content #img-box-2 img{
    width: 370px;
}
.nav-content .box{
    flex-grow: 1;
    padding: 1rem 0;
}
.nav-content .box h5{
    font-size: calc(0.6rem + 0.5vw);
    font-weight: 600;
    color: #000;
}
.nav-content .box h5 a{
    color: #000;
    text-decoration: none;
}
.nav-content .box a{
    position: relative;
    text-decoration: none;
    color: #393939;
    transition: all 0.2s ease;
    font-size: calc(0.5rem + 0.5vw);
}
.nav-content .box button{
    font-size: calc(0.5rem + 0.5vw);
    border: none;
    background-color: #000;
    color: #fff;
    padding: 0.4rem 0.7rem;
    transition: background-color 0.1s ease;
}
.nav-content .box button:hover{
    background-color: #f5bbba;
}
.nav-content .box .accordion{
   width: 60%;
}
.nav-content .box .accordion .accordion-body{
   padding: 0;
   padding-left: 1rem;
}
.nav-content .box .accordion-button::after {
    transform: scale(0.7);
}
.nav-content .box .accordion-button:not(.collapsed)::after {
    transform: scale(0.7) rotate(180deg);
}
.nav-content .box .accordion button{
    background-color: transparent;
    box-shadow: none;
    color: #000;
    width: 90%;
    padding: 0;
}
.nav-content .box .accordion a{
    display: block;
}
.nav-content .box a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 1px;
    background-color: #000;
    transition: width 0.2s ease;
}
.nav-content .box a:hover::after {
    width: 100%;
}
.nav-content #box-1{
    background-color: #fff3f3;
    padding-left: 6%;
    margin-right: 1.5rem;
}
.nav-content ul{
    list-style-type: none;
    padding: 0;
    padding-left: 1rem;
}
#nav-content-1{
    padding: 0 5% 0 0;
}
/* Web Navbar End */

/* Top Text Start */
.top-text{
    padding: 1rem 5%;
}
.top-text h1{
    color: #20252a;
    text-align: center;
    font-weight: 600;
    font-size: calc(1.5rem + 1vw);
    text-decoration: underline;
    text-decoration-color: #f5bbba;
    text-decoration-thickness: 1px;
    text-underline-offset: 11px;
}
.top-text .top-text-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0;
}
.top-text .top-text-content .top-text-left{
    width: 22%;
}
.top-text .top-text-content .top-text-left button{
    font-size: calc(0.5rem + 0.5vw);
    border: none;
    background-color: #000;
    color: #fff;
    padding: 0.4rem 2rem;
    transition: background-color 0.1s ease;
}
.top-text .top-text-content .top-text-left button:hover{
    background-color: #f5bbba;
}
.top-text .top-text-content .top-text-right{
    width: 76%;
}
.top-text .top-text-content .top-text-right p{
    color: #000;
    font-size: calc(0.6rem + 0.5vw);
    margin: 0;
}
/* Top Text End */

/* Banner Slider Start */
.banner-slider{
    overflow: hidden;
    position: relative;
}
.banner-slider img{
    width: 100%;
}
.banner-slider .banner-layer{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 5%;
}
.banner-slider .banner-layer .btn-box{
    width: max-content;
}
.banner-slider .banner-layer .btn-box p{
    text-align: center;
    font-size: calc(0.4rem + 0.5vw);
    margin-top: 0.2rem;
    font-weight: 600;
}
.banner-slider .banner-layer button{
    font-size: calc(0.5rem + 0.5vw);
    font-weight: 600;
    border: 1.4px solid #000;
    background-color: #000;
    color: #fff;
    padding: 0.55rem 1.5rem;
    transition: background-color 0.1s ease;
}
.banner-slider .banner-layer button:hover{
    background-color: #fff;
    color: #000;
}

#banner-layer-1 .btn-box{
    margin-top: 10rem;
    margin-left: 5rem;
}
#banner-layer-2 .btn-box{
    margin-top: 8rem;
    margin-left: 5rem;
}
#banner-layer-3 .btn-box{
    margin-top: 7rem;
    margin-left: 6rem;
}
#banner-layer-4 .btn-box{
    margin-top: 9rem;
    margin-left: 4.5rem;
}
#banner-layer-4 .btn-box button{
    padding: 0.55rem 3rem;
}
#banner-layer-4 .btn-box p{
    color: #fff;
}
#banner-layer-4 .btn-box p a{
    color: #fff;
    text-decoration: none;
    margin-left: 2px;
}
#banner-layer-4 .btn-box p a:hover{
    text-decoration: underline;
    text-decoration-color: #000;
}
#banner-layer-5 .btn-box{
    margin-left: -6%;
    width: 46%;
    height: 100%;
    background-color: #fcfcfc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#banner-layer-5 .btn-box h1{
    font-size: calc(1.1rem + 0.5vw);
    font-weight: 600;
    margin-bottom: 0;
}
#banner-layer-5 .btn-box h2{
    font-size: calc(0.7rem + 0.5vw);
    margin-top: 0.1rem;
}
#banner-layer-5 .btn-box button{
    margin-top: 0.3rem;
    margin-bottom: 1.7rem;
    padding: 0.5rem 2.5rem;
}
#banner-layer-5 .review{
    position: relative;
}
#banner-layer-5 .btn-box .review img{
    width: 200px;
    box-shadow: rgba(100, 100, 111, 0.212) 0px 7px 29px 0px;
    border-radius: 25px;
}
#banner-layer-5 .btn-box .review p{
    position: absolute;
    top: 3.5px;
    right: 10px;
    font-size: calc(0.35rem + 0.5vw);
}

/* Custom Swiper navigation buttons */
.swiper-button-next,
.swiper-button-prev {
    position: absolute;
    top: 57%;
    transform: translateY(-50%);
    z-index: 10;
    width: 30px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.162);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #fff; 
    transition: background-color 0.3s ease;
}
.swiper-button-next:hover,
.swiper-button-prev:hover {
    background-color: rgba(0, 0, 0, 0.479);
}
/* Custom content for arrows */
.swiper-button-next::after,
.swiper-button-prev::after {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    font-size: 1.1rem;
}
.swiper-button-next::after {
    content: '\f105'; /* Font Awesome code for right arrow */
}
.swiper-button-prev::after {
    content: '\f104'; /* Font Awesome code for left arrow */
}

/* Custom Swiper pagination */
.swiper-pagination {
    width: 10% !important;
    position: absolute;
    top: 12px !important;
    left: 90% !important;
    display: flex;
    gap: 5px;
    z-index: 10;
}
.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    border-radius: 0;
    transition: background-color 0.3s ease;
}
.swiper-pagination-bullet-active {
    background-color: #f5bbba;
}
/* Banner Slider End */

/* Virtual Appointment Start */
.virtual-appointment{
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.4rem 0;
    transition: background-color 0.1s ease;
}
.virtual-appointment:hover{
    background-color: #f7b5b4;
}
.virtual-appointment a{
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    font-size: calc(0.5rem + 0.5vw);
}
.virtual-appointment img{
    width: 20px;
    margin-left: 0.3rem;
}
/* Virtual Appointment End */

/* Collection Head Start */
.collection-head{
    padding: 2rem 0 0 0;
}
.collection-head h1{
    font-size: calc(1.7rem + 0.5vw);
    text-align: center;
    /* font-weight: 600; */
    font-style: italic;
}
.collection-head .excellent{
    padding: 0.4rem 0;
    border-top: 1px solid #909090;
    border-bottom: 1px solid #909090;
}
.collection-head .excellent a{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    text-decoration: none;
    color: #000;
    font-size: calc(0.55rem + 0.5vw);
}
.collection-head .excellent p{
    margin: 0;
    color: #000;
}
.collection-head .excellent span:nth-child(1) p{
    font-size: calc(0.7rem + 0.5vw);
}
.collection-head .excellent img{
    width: 100px;
}
.collection-head .excellent #logo img{
    width: 80px;
}
/* Collection Head End */

/* Filter Sort Start */
.filter-sort{
    margin: 0 5%;
    border-bottom: 1.2px solid #d3d3d3;
    display: flex;
}
.filter-sort-head{
    width: 50%;
}
.filter-sort-head h1{
    margin: 0;
    font-size: calc(1.2rem + 0.5vw);
    font-style: italic;
    cursor: pointer;
    width: max-content;
    display: flex;
    align-items: center;
}
.filter-sort-head i{
    margin-left: 0.6rem;
    font-size: calc(0.7rem + 0.5vw);
}
.filter{
    border-right: 1.2px solid #d3d3d3;
    padding: 0.7rem 9rem 0.7rem 0;
    display: flex;
    justify-content: end;
}
.sort{
    padding: 0.7rem 0 0.7rem 9rem;
}
.filter-sort-content{
    display: flex;
}
.filter-sort-content .filter-content,
.filter-sort-content .sort-content{
    width: 50%;
}
.filter-sort-content .filter-content{
    display: flex;
    justify-content: end;
    padding-right: 4rem;
}
.filter-sort-content .sort-content{
    padding-left: 4rem;
}
.filter-sort-content .content-box{
    width: 23%;
    padding: 1.5rem 2rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    border-radius: 5px;
    position: absolute;
    display: none;
    z-index: 10;
    background-color: #fff;
}
.filter-sort-content .content-box.show{
    display: block;
}
.filter-sort-content .content-box a{
    display: block;
    text-decoration: none;
    color: #4c4c4c;
    font-size: calc(0.55rem + 0.5vw);
}
.filter-sort-content .content-box a:hover{
    text-decoration: underline;
}
/* Filter Sort End */

/* Collection Start */
.collection{
    padding: 1rem 5%;
}
.collection .product-count{
    text-align: end;
    margin-bottom: 1rem;
}
.collection .product-count h5{
    font-size: calc(0.6rem + 0.5vw);
}
.collection-row{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 2%;
}
.collection-row .card{
    width: 23.5%;
    border-radius: 0;
    border: 1.5px solid #eee;
    overflow: hidden;
}
.collection-row .card:hover{
    border: 1.5px solid #f7b5b4;
}
.collection-row .card .card-img{
    padding: 0.9rem 0.9rem 0 0.9rem;
}
.collection-row .card .card-img img{
    width: 100%;
    transition: transform 0.3s ease-in-out;
}
.collection-row .card .card-img img:hover{
    transform: rotateY(180deg);
}
.collection-row .card .card-img img.noRotation{
    transform: rotateY(0);
}
.collection-row .card .card-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.4rem 0;
}
.collection-row .card .card-body img{
    width: 102px;
}
.collection-row .card .card-body #guaranteed-img{
    width: 70px;
}
.collection-row .card .card-body h2{
    font-size: calc(0.7rem + 0.5vw);
    color: #000;
    margin-top: 0.3rem;
    margin-bottom: 0;
}
.collection-row .card .card-body p{
    font-size: calc(0.43rem + 0.5vw);
    color: #464646;
    margin: 0;
}
.collection-row .card .card-body h1{
    font-size: calc(1.15rem + 0.5vw);
    font-weight: 700;
    color: #000;
    margin: 0;
    margin-top: 0.3rem;
}
.collection-row .card .card-body h1 span{
    font-size: calc(0.2rem + 0.5vw);
    font-weight: 500;
    color: #000;
}
.collection-row .explore-card button{
    font-size: calc(0.45rem + 0.5vw);
    font-weight: 600;
    color: #fff;
    background-color: #000;
    padding: 0.2rem 0;
    width: 100%;
    border: none;
}
.collection-row .explore-card .card-body p{
    font-size: calc(0.3rem + 0.5vw);
}
.collection-row .explore-card .card-body p img{
    width: 8px;
}
.collection-row .explore-card .card-body p span{
    font-weight: 600;
    color: #000;
    font-size: calc(0.45rem + 0.5vw);
    margin-left: 4px;
}
/* Collection End */